.box{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    gap: 2rem;
    
}
*{
    background-color: black;
}
.text{
    
    color: white;
    text-align: center;
    font-size:3rem;
    font-style:normal;
    font-family: "Anton", sans-serif;
    
}
#text{
    color:rgb(4, 205, 255)

}

